

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* nav bar */
.section1{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 150px;

}

.logo{
  color: #4E47FF;
  font-size: 65px;
  font-weight: bolder;
}

.btn{
  color: white;
  background-color: #4E47FF;
  font-size: 16px;
  border-radius: 6px;
  padding: 12px 36px;
}

.btn:hover{
background-color: #ff4ed9;
}

.section2{
  text-align: center;
  padding: 155px 270px;
  
}
.h1{
  color: #252432;
  font-weight: bold;
  font-size: 65px;
  
}


/* Header */
.header{
  background-image: url(../Assets/Hero-bg.png);
  

}

/* Action section */
.action{
  display: flex;
  justify-content: space-between;
  margin: 116px 150px;
  align-items: center;

}

.content{
  padding-right: 220px;
}
.action-title{
  color: #252432;
  font-weight: bold;
  font-size: 42px;
}

.action-description{
  color: #252432;
  font-size: 24px;
}
.action-img{
  border-radius: 45px;
}

/* Productive users section */
.productive-section{
  background-color: #4d47ff21;
  text-align: center;
  justify-content: center;
  gap: 5px;
  margin: 116px 150px;
  padding: 50px 140px;
  border: #4E47FF solid;
  border-radius: 24px;
}
.productive-main-title{
  font-weight: bold;
  font-size: 38px;
  
}

.titles-and-description{
  display: flex;
  justify-content: center;
  
}

.Productive-title{
  justify-content: center;
  margin: 40px;
  
}
.short-title{
  color: #4E47FF;
  font-weight: bold;
  font-size: 80px;
}

.productive-description{
  color: #0000006e;
  font-size: 20px;
}

/* User review section */
.section-title{
font-weight: bold;
font-size: 42px;
text-align: center;
align-items: center;

}

.review-container{
  display: flex;
  gap: 24px;
  margin: 50px 155px;
  
}

.review{
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.096);
}

.sub-section{
  display: flex;
  gap: 5px;
  align-items: center;
}

.review-img{
  height: 60px;
  width: 60px;
}